<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=/favicon.ico>
  <link href=/static/style/main.css rel=stylesheet>
  <script src="/static/js/app.js"></script>
  <title>Yujeonja's Home Page</title>
</head>
<body onload="onLoad()">
  <%= header %>
  <section id="main-section">
    <%= nav %>
    <article id="main-article">
      <header>
        <h2>Home</h2>
        <%= language %>
      </header>
      <p>Welcome to the Yujeonja's home page.</p>
    </article>
  </section>
  <%= footer %>
</body>
</html>
